body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 180%;
  background-color: #383838;
}

/* body.lock {
  overflow: hidden;
} */

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 25px;
}

/* .header__container {
  display: flex;
  justify-content: space-between;
} */

.main {
  padding-top: 50px;
}

.main__title {
  text-align: center;
  margin-bottom: 50px;
}


/*  --------------------------------------------  */
/*  --------------------------------------------  */
/*  --------------------------------------------  */


.popup-link {
  color:aqua;
  text-decoration: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}


/* --- */

.popup:target {
  opacity: 1;
  visibility: visible;
}

 .popup:target .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

 .popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ---- */

/* .popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
} */

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 600px;
  padding: 50px 80px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
  color: #000;
}

.popup__close:hover {
  color: red;
  transition: 0.5s;
}


.popup__form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.popup__title {
  /* text-align: center; */
  /* align-items: center; */
  font-size: 30px;
  margin: 0 auto 40px auto;
}

.popup__labelblock {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.popup__input {
  height: 25px;
  width: 250px;
  margin-left: 30px;
}

.popup__label {

}

.popup__sub {
  cursor: pointer;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(250, 178, 44);
  margin: 20px auto;
}

.popup__disclamer {
  text-align: center;
}

.popup__checkbox {
  width: 15px;
  height: 15px;
}

.popup__disclamer_text {
  margin-left: 5px;
}
